<!DOCTYPE html>
<html>
    <head>
        <title>Lu Woah: 2-4 player board game</title>
        <link rel="stylesheet" href="stylesheets/splashStyle.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
    </head>

    <body>
        <div id="logo">
            <a href="index.html"><img src="media/logo.png" alt="logo"></a>
        </div>
        <div id="description">2-4 player board game</div>
        <br>
        <div id="buttonArea">
            <button id="createGameButton" class="buttonClass">Create Game</button>
            <button id="quickGameButton" class="buttonClass">Quick Game</button>
        </div>
        <br>
        <div id="gameCode">
            <p id="message">This game code is invalid!</p>
            <form>
                <input type="text" id="joinGameId">
                <button id="joinGameButton" type="button">Join Game</button>
            </form>
        </div>
        <br>
        <div id="gameList">
            <table div id="gameListTable">
                <tr>
                    <th>Game Code</th>
                    <th>Number of Players</th>
                    <th>Join</th>
                </tr>
            </table>
        </div>
        <br>
        <div id="stats">
            <div>
                <p>Ongoing Games: <%= ongoingGames %></p>
            </div>
            <div>
                <p>Players Online: <%= playersOnline %></p>
            </div>
            <div>
                <p>Completed Games: <%= completedGames %></p>
            </div>
        </div>
    </body>

    <script src="https://unpkg.com/axios/dist/axios.min.js" type="text/javascript"></script>
    <script src="javascripts/main.js"></script>
</html>